# Creating arrays

In [30]:
import numpy as np

In [31]:
a1 = np.array([[1,2,3],
               [4,5.2,6]])

In [3]:
a1

array([[1. , 2. , 3. ],
       [4. , 5.2, 6. ]])

In [4]:
a1.dtype

dtype('float64')

In [5]:
a1.shape

(2, 3)

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(a1)
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.2  6.0

In [8]:
sample_array = np.array([1,2,3])

In [9]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [10]:
type(ones)

numpy.ndarray

In [11]:
# Numpy generates pseudo random numbers
# If we use numpy seed function then the random numbers we generate wont change after every run as shown below:
np.random.seed(seed = 0)
random_array = np.random.randint(10, size=(5,3))
random_array

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [12]:
random_array

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [13]:
random_array_1 = np.random.random(size=(5,3))

In [14]:
random_array_1

array([[0.79172504, 0.52889492, 0.56804456],
       [0.92559664, 0.07103606, 0.0871293 ],
       [0.0202184 , 0.83261985, 0.77815675],
       [0.87001215, 0.97861834, 0.79915856],
       [0.46147936, 0.78052918, 0.11827443]])

In [15]:
random_array

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [16]:
random_array_1

array([[0.79172504, 0.52889492, 0.56804456],
       [0.92559664, 0.07103606, 0.0871293 ],
       [0.0202184 , 0.83261985, 0.77815675],
       [0.87001215, 0.97861834, 0.79915856],
       [0.46147936, 0.78052918, 0.11827443]])

In [17]:
np.unique(random_array)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
a3 = np.random.randint(10, size=(2,3,3))
a3

array([[[0, 1, 9],
        [9, 0, 4],
        [7, 3, 2]],

       [[7, 2, 0],
        [0, 4, 5],
        [5, 6, 8]]])

In [19]:
a3[:2, :2, :2]

array([[[0, 1],
        [9, 0]],

       [[7, 2],
        [0, 4]]])

In [20]:
a5 = np.random.randint(10, size = (2, 3, 4, 5))

In [21]:
a5

array([[[[4, 1, 4, 9, 8],
         [1, 1, 7, 9, 9],
         [3, 6, 7, 2, 0],
         [3, 5, 9, 4, 4]],

        [[6, 4, 4, 3, 4],
         [4, 8, 4, 3, 7],
         [5, 5, 0, 1, 5],
         [9, 3, 0, 5, 0]],

        [[1, 2, 4, 2, 0],
         [3, 2, 0, 7, 5],
         [9, 0, 2, 7, 2],
         [9, 2, 3, 3, 2]]],


       [[[3, 4, 1, 2, 9],
         [1, 4, 6, 8, 2],
         [3, 0, 0, 6, 0],
         [6, 3, 3, 8, 8]],

        [[8, 2, 3, 2, 0],
         [8, 8, 3, 8, 2],
         [8, 4, 3, 0, 4],
         [3, 6, 9, 8, 0]],

        [[8, 5, 9, 0, 9],
         [6, 5, 3, 1, 8],
         [0, 4, 9, 6, 5],
         [7, 8, 8, 9, 2]]]])

In [22]:
# Get first four numbers of the innermost arrays
a5[:, :, :, :4]

array([[[[4, 1, 4, 9],
         [1, 1, 7, 9],
         [3, 6, 7, 2],
         [3, 5, 9, 4]],

        [[6, 4, 4, 3],
         [4, 8, 4, 3],
         [5, 5, 0, 1],
         [9, 3, 0, 5]],

        [[1, 2, 4, 2],
         [3, 2, 0, 7],
         [9, 0, 2, 7],
         [9, 2, 3, 3]]],


       [[[3, 4, 1, 2],
         [1, 4, 6, 8],
         [3, 0, 0, 6],
         [6, 3, 3, 8]],

        [[8, 2, 3, 2],
         [8, 8, 3, 8],
         [8, 4, 3, 0],
         [3, 6, 9, 8]],

        [[8, 5, 9, 0],
         [6, 5, 3, 1],
         [0, 4, 9, 6],
         [7, 8, 8, 9]]]])

## Manipulating and comparing arrays

In [23]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [24]:
a1 = np.random.randint(10, size = (3,))

In [25]:
a1

array([8, 6, 6])

In [26]:
a1 * ones

array([[8., 6., 6.],
       [8., 6., 6.]])

In [27]:
a1 / ones

array([[8., 6., 6.],
       [8., 6., 6.]])

In [28]:
a1 ** 2

array([64, 36, 36], dtype=int32)

In [29]:
ones * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [32]:
a1

array([[1. , 2. , 3. ],
       [4. , 5.2, 6. ]])

In [ ]:
np.sum(a1)

In [ ]:
# Use np.sum or NumPy's method to perform aggregation instead of Python's function.
# NumPy's function are 526 times faster than Python's function.

In [ ]:
%timeit np.sum(a1)

In [ ]:
ones

In [ ]:
a3

In [ ]:
ones.shape

In [ ]:
a3.shape
a2 = ones

In [ ]:
a2*a3

In [ ]:
a2_reshape = a2.reshape(2,3,1)
a2_reshape

In [ ]:
a2

In [ ]:
a2_reshape * a3

In [33]:
a3.shape

(2, 3, 3)

In [ ]:
a3.T

In [ ]:
a3.T.shape

## Dot Product

In [ ]:
# If we use np.multiply or matrix1 * matrix2 we simple do element wise multiplication.
# Dot wise multiplication is what we did in maths, it done by np.dot(matrix1, matrix2)

a2_reshape.shape

In [ ]:
a3.shape

In [ ]:
np.dot(a2_reshape,a3)

In [ ]:
%%html
<script>
    // AUTORUN ALL CELLS ON NOTEBOOK-LOAD!
    require(
        ['base/js/namespace', 'jquery'], 
        function(jupyter, $) {
            $(jupyter.events).on("kernel_ready.Kernel", function () {
                console.log("Auto-running all cells-below...");
                jupyter.actions.call('jupyter-notebook:run-all-cells-below');
                jupyter.actions.call('jupyter-notebook:save-notebook');
            });
        }
    );
</script>

<img src = "images\panda.png"/>

In [35]:
from matplotlib.image import imread

In [37]:
panda = imread("images/panda.png")
print(type(panda))

<class 'numpy.ndarray'>

In [42]:
panda.size, panda.shape, panda.ndim

(24465000, (2330, 3500, 3), 3)

In [44]:
#First five values
panda[:5]

array([[[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16862746, 0.13333334, 0.09803922],
        [0.16862746, 0.13333334, 0.09803922],
        [0.16862746, 0.13333334, 0.09803922]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16862746, 0.13333334, 0.09803922],
        [0.16862746, 0.13333334, 0.09803922],
        [0.16862746, 0.13333334, 0.09803922]]], dtype=float32)